<main class="carta">

  <!-- Page content -->
  <section class="subheader_carta">
    <h1 class="subheader_title_carta">Carta</h1>
    <article class="container_subheader_carta row">

      <div class="subheader_text_carta col-4">
        <div class="row">
          <button id="linkEntrantes" class="nav-link button_carta color_txt_subheader_carta py-0">
            <b>Entrantes</b>
          </button>
        </div>
        <div class="row">
          <button id="linkPrincipales" class="nav-link button_carta color_txt_subheader_carta py-0">
            <b>Principales</b>
          </button>
        </div>
        <div class="row">
          <button id="linkSugerencias" class="nav-link button_carta color_txt_subheader_carta py-0">
            <b>Sugerencias</b>
          </button>
        </div>
        <div class="row">
          <button id="linkPostres" class="nav-link button_carta color_txt_subheader_carta py-0">
            <b>Postres</b>
          </button>
        </div>

        <div class="row">
          <a class="nav-link color_txt_subheader_carta link-carta py-0" href="">
            <b>Bebidas</b>
          </a>
        </div>
        <div class="row">
          <a class="nav-link color_txt_subheader_carta link-carta py-0" href="">
            <b>Carta de Vinos</b>
          </a>
        </div>
      </div>

      <figure class="subheader_photo_carta col-4">
        <img src="./assets/images/logo_carta.png" class="size_photo_header" alt="logo carta.">
      </figure>
    </article>
  </section>

  <section class="body_plato_carta">

  </section>

</main>
