
<!-- Page content -->
<main id="content-fluid">
  <div class="row margin_body_top">

    <div class="d-lg-none d-md-none container_contact_txt">
      <img src="./assets/images/terraza-noche.png" class="size_terra-n" alt="Restaurante Google maps.">
      <div class="text_contact">Contacto</div>
    </div>

    <div class="col-lg-6 col-12 text-center text_hor">
      <div class="row-sm-12">
        <h1 class="text_title_hor">Horario</h1>
      </div>
      <div class="row text_body_hor">
        <div class="col">
          <p>Lunes</p>
        </div>
        <div class="col">
          <p>cerrado</p>
        </div>
      </div>

      <div class="row text_body_hor">
        <div class="col">
          <p>Martes</p>
        </div>
        <div class="col">
          <p>13:00 - 16:30</p>
        </div>
      </div>

      <div class="row text_body_hor">
        <div class="col">
          <p>Miércoles</p>
        </div>
        <div class="col">
          <p>13:00 - 16:30</p>
        </div>
      </div>

      <div class="row text_body_hor">
        <div class="col">
          <p>Jueves</p>
        </div>
        <div class="col">
          <p>13:00 - 16:30</p>
        </div>
      </div>

      <div class="row text_body_hor">
        <div class="col">
          <p>Viernes</p>
        </div>
        <div class="col">
          <p>13:00 - 16:30</p>
          <p>20:15 - 24:00</p>
        </div>
      </div>

      <div class="row text_body_hor">
        <div class="col">
          <p>Sábado</p>
        </div>
        <div class="col">
          <p>13:00 - 16:30</p>
          <p>20:15 - 24:00</p>
        </div>
      </div>

      <div class="row text_body_hor">
        <div class="col">
          <p>Domingo</p>
        </div>
        <div class="col">
          <p>13:00 - 16:30</p>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-12 margin_img_ubi">
      <div class="text-center">
        <img src="./assets/images/google_maps.png" class="size_img_ubi" alt="Restaurante Google maps.">
      </div>
    </div>
  </div>

  <div class="row margin_body_bottom margin_text_top text_info">
    <div class="col-lg-6 col-sm-12 order-2 order-lg-1">
      <div class="row text-center align-center-telephone">
        <figure class="col-2 margin_telephone">
          <img src="./assets/images/telephone.png" class="size_img_logo_telephone" alt="Telephone pic.">
        </figure>
        <p class="col margin_number">(+34) 630 13 23 25</p>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12 order-1 order-lg-2">
      <div class="row text-center align-center-ubi">
        <figure class="col-2 margin_ubi">
          <img src="./assets/images/location.png" class="size_img_logo_ubi" alt="Location pic.">
        </figure>
        <p class="col margin_dir">Pl. de Santiago, 9, Gáldar, Las Palmas</p>
      </div>
    </div>
  </div>
</main>

<!-- Footer -->



