h2 {
    font-size: calc(18px + 0.5vw);
    font-family: "Times News Roman";
    font-weight: bold;
}

ion-toolbar{
    --min-height: auto;
    --background: rgba(255, 255, 255, 0.8);
    --color: black;
}
.productDetailsContainer{
    background: rgba(255, 255, 255, 0.6);
    color: black
}

p {
    font-size: calc(14px + 0.2vw);
}

.addButton{
    --background: green;
}

.removeButton{
    --background: red;
}

.background_money{
    color: white;
    font-size: calc(16px + 0.2vw);
    background: #67523A;
    border-radius: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
}

@media screen and (min-width: 480px) {
    img{
        width: calc(10rem + 15vw);
    }
    .productDetailsContainer{
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    img{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    .productDetailsContainer{
        display: flex;
        flex-direction: column;
    }
}