<div class="bg-primary p-2 text-white" [class.bg-warning]="editing"
     [class.text-dark]="editing">
  <h5>{{editing ? "Edit" : "Create"}} Product</h5>
</div>

<form ngNativeValidate #form="ngForm" (ngSubmit)="save(form)">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" [(ngModel)]="product.name" required/>
  </div>

  <!-- use select html tag -->
  <div class="form-group">
    <label>Type</label>
    <input class="form-control" name="type"
           [(ngModel)]="product.type" />
  </div>

  <div class="form-group">
    <label>Category</label>
    <input class="form-control" name="category"
           [(ngModel)]="product.category" />
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" name="description"
              [(ngModel)]="product.description"></textarea>
  </div>

  <div class="form-group">
    <label>Price</label>
    <input class="form-control" name="price" [(ngModel)]="product.price" />
  </div>

  <div class="form-group">
    <label>Allergens</label>
    <input class="form-control" name="allergens" [(ngModel)]="product.allergens" />
  </div>

  <div class="form-group">
    <label>Image</label>
    <span *ngIf="product.url!">
      <img [src]="product.url" alt="Product image.">
    </span>  <br>
    <app-upload-form (newUploadEvent)="addImageToProduct($event)"></app-upload-form>
  </div>

  <button type="submit" class="btn btn-primary m-1"
          [class.btn-warning]="editing">
    {{editing ? "Save" : "Create"}}
  </button>

  <button type="reset" class="btn btn-secondary"
          routerLink="/admin/main/products">
    Cancel
  </button>
</form>
