
.carta{
    font-family: Roboto;
    color: black;
}

.carta .subheader_carta{
    background: #E7E7E7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: -1.5%;
    margin-bottom: -2.5%;
    margin-left: -5%;
    margin-right: -0.5%;
    left: 0px;
}

.carta .subheader_carta .subheader_title_carta{
    padding-top: 1%;
    text-align: center;
    font-size: 36px;
}

.carta .subheader_carta .subheader_text_carta {
    font-size: 26px;
    margin-left: 10%;
    margin-bottom: 2%;
}

.carta .subheader_carta .subheader_photo_carta{
    text-align: right;
    margin-right: 7%;
}

.carta .subheader_carta .container_subheader_carta{
    display: flex;
    justify-content: space-between;

}

.carta .body_plato_carta{
    background: #B09F92;
    margin-left: -0.52%;
    margin-right: -0.5%;
    padding-bottom: 25%;
}

.carta .body_plato_carta .background_plato_carta{
    background: #E7E7E7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    margin-right: 5%;
    margin-left: 5%;
}

.carta .body_plato_carta .align_opcion_plato_carta{
    text-align: center;
    font-size: 36px;
    padding-top: 2%;
}

.carta .body_plato_carta .background_plato_carta .align_money_plato_carta{
    text-align: center;
    padding-bottom: 1%;
    font-size: 26px;
}

.carta .body_plato_carta .background_plato_carta .text_plato_carta{
    font-size: 26px;
    margin-left: 5%;
    margin-bottom: 2%;
}

.carta .body_plato_carta .background_plato_carta .text_plato_carta .text_title_plato_carta{
    font-size: 36px;
    padding-top: 2%;
}

.carta .body_plato_carta .background_plato_carta .text_plato_carta .descripcion_plato_carta{
    margin-top: 15%;
}

.carta .body_plato_carta .background_plato_carta .text_plato_carta .alergenos_plato_carta{
    margin-top: 50%;
}

.carta .body_bebidas{
    background: #B09F92;
    margin-left: -0.52%;
    margin-right: -0.5%;
    padding-bottom: 8%;
}

.carta .body_bebidas .align_opcion_plato_bebidas{
    text-align: center;
    padding-top: 2%;
    font-size: 36px;
}

.carta .body_bebidas .background_text_bebidas{
    background: #E7E7E7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 20%;
}

.carta .body_bebidas .background_text_bebidas .container_text_bebidas{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.carta .body_bebidas .background_text_bebidas .body_title_bebidas{
    margin-left: 6.6%;
    font-size: 28px;
}

.carta .body_bebidas .background_text_bebidas .container_text_bebidas .nombre_bebidas{
    margin-left: 7%;
}

.carta .body_bebidas .background_text_bebidas .container_text_bebidas .money_bebidas{
    margin-right: 7%;
}

.carta .body_bebidas .background_text_bebidas .origen_text_bebidas{
    margin-left: 7%;
    padding-top: 1%;
    font-size: 17px;
}
