<main class="carta">
  <section class="subheader_carta">
    <h1 class="subheader_title_carta">Carta</h1>
    <article class="container_subheader_carta row">

      <div class="subheader_text_carta col-4">
        <div class="row">
          <a id="linkEntrantes_bebidas" class="nav-link link-carta color_txt_subheader_carta py-0" routerLink="carta">
            <b>Entrantes</b>
          </a>
        </div>

        <div class="row">
          <a id="linkPrincipales_bebidas" class="nav-link link-carta color_txt_subheader_carta py-0" routerLink="carta">
            <b>Principales</b>
          </a>
        </div>

        <div class="row">
          <a id="linkPrincipales_sugerencias" class="nav-link link-carta color_txt_subheader_carta py-0" routerLink="carta">
            <b>Sugerencias</b>
          </a>
        </div>

        <div class="row">
          <a id="linkPrincipales_postres" class="nav-link link-carta color_txt_subheader_carta py-0" routerLink="carta">
            <b>Postres</b>
          </a>
        </div>
        <div class="row">
          <a class="nav-link link-carta color_txt_subheader_carta py-0" routerLink="bebidas">
            <b>Bebidas</b>
          </a>
        </div>
        <div class="row">
          <a class="nav-link link-carta color_txt_subheader_carta py-0" routerLink="vinos">
            <b>Carta de Vinos</b>
          </a>
        </div>
      </div>

      <figure class="subheader_photo_carta col-4">
        <img src="images/logo_carta.png" class="size_photo_header" alt="logo carta.">
      </figure>
    </article>
  </section>

  <section class="body_bebidas">
    <div id="load_vinos">

    </div>
  </section>

</main>
