<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>La Cuarta</title>

    <link href="images/logo_header.png" rel="icon">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Styles -->
    <link href="css/default.css" rel="stylesheet">

</head>


<body>

    <!-- Header -->

    <header id="header">

    </header>
    <!-- Page content -->
    <main id="content">

        <section class="dialog_container">
            <div class="center">
                <article class="dialog_table text-center">
                    <h1>TU PEDIDO</h1>


                    <div class="row">
                        <div class="col-4">
                            <h3>Producto</h3>
                        </div>

                        <div class="col-4">
                            <h3>Precio</h3>
                        </div>

                        <div class="col-4">
                            <h3>Cantidad</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            Ensalada la cuarta
                        </div>

                        <div class="col-4">
                            7,00 €
                        </div>

                        <div class="col-4">
                            <div class="center">
                                <div class="carrito_counter center">
                                    <button class="button_minus" title="Plus"></button>

                                    <input class="counter text-center" type="text" placeholder="..." value='0' />

                                    <button class="button_plus" title="Plus"></button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-4">
                            Crujientes de pollo
                        </div>

                        <div class="col-4">
                            8,00 €
                        </div>

                        <div class="col-4">
                            <div class="center">
                                <div class="carrito_counter center">
                                    <button class="button_minus" title="Plus"></button>

                                    <input class="counter text-center" type="text" placeholder="..." value='0' />

                                    <button class="button_plus" title="Plus"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carrito_total center dot">
                        15 €
                    </div>
                </article>
            </div>

            <div class="center">
                <div class="button_top center">
                    <a href="">Continuar</a>
                </div>
            </div>

            <div class="center">
                <div class="button_bottom center">
                    <a href="">Sequir con el pedido</a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="footer">

    </footer>



<script>
    $(function () {
        $('#header').load("./header.html");
        $('#footer').load("./footer.html");
    });
</script>

</body>

</html>
