<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>La Cuarta</title>

    <link rel="icon" href="images/placeholder-image.png">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Styles -->
    <link href="css/default.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/carta.css" rel="stylesheet">

    <style>

    </style>
</head>
<body>

    <!-- Header -->
    <div id="header">

    </div>
    <div id="content">
    <!-- Page content -->
        <section>
            <h1>Carta</h1>
            <div>
                <div>
                    <br>
                        <b>Entrantes</b>
                    </br>
                    <br>
                        <b>Principales</b>
                    </br>
                    <br>
                        <b>Sugerencias</b>
                    </br>
                    <br>
                        <b>Postres</b>
                    </br>
                </div>
                <div>
                    <img src="images/logo_carta.png" alt="logo carta.">
                </div>

            </div>
        </section>
        <section>
            <div>
                <h2>Entrantes</h2>
                <div>
                    <p>
                        <b>Nombre del plato</b>
                    </p>
                    <div>
                        <img src="images/imagen_plato.png" alt="Plato Comida.">
                        <br>
                            0,00 €
                        </br>
                    </div>
                    <p>
                        Descripcion
                    </p>
                    <p>
                        Alergernos
                    </p>
                </div>
            </div>
            <div>
                <h2>Principales</h2>
                <div>
                    <p>
                        <b>Nombre del plato</b>
                    </p>
                    <div>
                        <img src="images/imagen_plato.png" alt="Plato Comida.">
                        <br>
                            0,00 €
                        </br>
                    </div>


                    <p>
                        Descripcion
                    </p>
                    <p>
                        Alergernos
                    </p>
                </div>
            </div>


        </section>
    </div>>

    <div id="footer">

    </div>
    <script>
        $(function () {
            $('#header').load("./header.html");
            $('#footer').load("./footer.html");
        });
    </script>
</body>
</html>