<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>La Cuarta</title>

    <link rel="icon" href="images/logo_header.png">

    <!-- Styles -->
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/grid.css">

    <style>

    </style>
</head>


<body>
<div class="container">
    <!-- Header -->
    <header>
        <div id="header-logo">
            <a href="index.html">
                <img src="images/logo_header.png" alt="Restaurante La Cuarta logo.">
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                <li><a href="carta.html">Carta</a></li>
                <li><a href="reservas.html">Reservas</a></li>
                <li><a href="pedidos.html">Pedidos</a></li>
                <li><a href="contacto.html"><strong>Contacto</strong></a></li>
            </ul>
        </nav>

    </header>

    <!-- Page content -->
    <main>
        <div class="row">
            <div class="col-6 text-center">

                <div class="horario-title">
                    <h1>Horario</h1>

                </div>

                <div class="row">
                    <div class="col-6">
                        <p>Lunes</p>
                    </div>
                    <div class="col-6">
                        <p>cerrado</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p>Martes</p>
                    </div>
                    <div class="col-6">
                        <p>13:00 - 16:30</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p>Miércoles</p>
                    </div>
                    <div class="col-6">
                        <p>13:00 - 16:30</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p>Jueves</p>
                    </div>
                    <div class="col-6">
                        <p>13:00 - 16:30</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p>Viernes</p>
                    </div>
                    <div class="col-6">
                        <p>13:00 - 16:30</p>
                        <p>20:15 - 24:00</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p>Sábado</p>
                    </div>
                    <div class="col-6">
                        <p>13:00 - 16:30</p>
                        <p>20:15 - 24:00</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p>Domingo</p>
                    </div>
                    <div class="col-6">
                        <p>13:00 - 16:30</p>
                    </div>
                </div>
            </div>


            <div class="col-6 center">
                <div class="row">
                    <img src="images/google_maps.png" alt="Restaurante Google maps.">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-3">
                        <img src="images/telephone.png" alt="Telephone pic.">
                    </div>
                    <div class="col-9">
                        <p>(+34) 630 13 23 25</p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-3">
                        <img src="images/location.png" alt="Location pic.">
                    </div>
                    <div class="col-9">
                        <p>Pl. de Santiago, 9, Gáldar, Las Palmas</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div id="footer-left">
            <a href="index.html">
                <img src="images/logo_footer.png" alt="Restaurante La Cuarta logo.">
            </a>
        </div>

        <div id="footer-mid">
            <ul>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Política de cookies</a></li>
                <li><a href="">Aviso Legal</a></li>
            </ul>

            <div id="copyright">
                <img src="images/copyright.png" alt="Copyright.">
                <p>Restaurante La Cuarta. Todos los derechos reservados.</p>
            </div>
        </div>

        <div id="footer-right">
            <h3>Restaurante La Cuarta</h3>
            <p>Pl. de Santiago, 9, Gáldar, Las Palmas</p>
            <p>630 13 23 25</p>

            <a href="">
                <img src="images/instagram.png" alt="Instagram.">
            </a>
            <a href="https://www.facebook.com/La-Cuarta-G%C3%A1ldar-919397254765070/">
                <img src="images/facebook.png" alt="Facebook.">
            </a>
            <a href="https://www.tripadvisor.es/Restaurant_Review-g1064347-d10120688-Reviews-Tasca_Restaurante_La_Cuarta-Galdar_Gran_Canaria_Canary_Islands.html">
                <img src="images/tripadvisor.png" alt="TripAdvisor.">
            </a>
        </div>

    </footer>
</div>
</body>
</html>

