<footer>
    <div class="row">
        <div class="col-4">
            <a href="index.html">
                <img class="logo" alt="Restaurante La Cuarta logo." src="images/logo_footer.png">
            </a>
        </div>

        <div class="col-4">
            <div class="menu">
                <a href="todo.pdf">Política de privacidad</a><br>
                <a href="todo.pdf">Política de cookies</a><br>
                <a href="todo.pdf">Aviso Legal</a>
            </div>
        </div>

        <div class="col-4">
            <div class="infoContainer">
                <div class="name">
                    Restaurante La Cuarta
                </div>

                <div class="contact">
                    <p>Pl. de Santiago, 9, Gáldar, Las Palmas</p>
                    <p>630 13 23 25</p>
                </div>


                <div class="socialMedia">
                    <a href="">
                        <img alt="Instagram." src="images/instagram.png">
                    </a>
                    <a href="https://www.facebook.com/La-Cuarta-G%C3%A1ldar-919397254765070/">
                        <img alt="Facebook." src="images/facebook.png">
                    </a>
                    <a href="https://www.tripadvisor.es/Restaurant_Review-g1064347-d10120688-Reviews-Tasca_Restaurante_La_Cuarta-Galdar_Gran_Canaria_Canary_Islands.html">
                        <img alt="TripAdvisor." src="images/tripadvisor.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 center">
            <div class="copyright">
                <img style="transform: translateY(5px);" alt="Copyright." src="images/copyright.png">
                Restaurante La Cuarta. Todos los derechos reservados.
            </div>
        </div>
    </div>
</footer>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/default.css">
    <title>Title</title>
</head>
<body>
    <div class="footer">
        <img class="logo" src="images/LOGO3364.jpg">
        <div class="menu">
            <div>
                <a>Política de privacidad</a>
            </div>
            <div>
                <a>Política de cookies</a>
            </div>
            <div>
                <a>Aviso legal</a>
            </div>
        </div>
        <div class="infoContainer">

        </div>
    </div>

</body>
</html>
-->
