<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/default.css">
    <title>Title</title>
</head>
<body>
    <div class="footer">
        <img class="logo" src="images/LOGO3364.jpg">
        <div class="menu">
            <div>
                <a>Política de privacidad</a>
            </div>
            <div>
                <a>Política de cookies</a>
            </div>
            <div>
                <a>Aviso legal</a>
            </div>
        </div>
        <div class="infoContainer">

        </div>
    </div>

</body>
</html>