<header>
    <div>
        <a href="index.html">
            <img class="logo" src="images/LOGO3364.jpg" alt="Restaurante La Cuarta logo.">
        </a>
    </div>
    <div class="menu">
        <a href="sobre_nosotros.html">Sobre Nosotros</a>
        <a href="carta.html">Carta</a>
        <a href="reservas.html">Reservas</a>
        <a href="pedidos.html">Pedidos</a>
        <a href="contacto.html">Contacto</a>
    </div>
</header>

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/default.css">
    <title>Title</title>
</head>
<body>
  <div class="header">
    <div>
        <img class="logo" src="images/LOGO3364.jpg">
    </div>
    <div class="menu">
        <a>Sobre nosotros</a>
        <a>Carta</a>
        <a>Reservas</a>
        <a>Pedidos</a>
        <a>Contacto</a>
    </div>
  </div>
</body>
</html>
-->
