<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>La Cuarta</title>

    <link rel="icon" href="images/placeholder-image.png">

    <!-- Styles -->
    <link rel="stylesheet" href="css/default.css">

    <style>

    </style>
  </head>


  <body>

    <!-- Header -->
    <header>
      <h1>TODO Header</h1>

      <a href="index.html">
        <img src="images/placeholder-image.png" alt="Restaurante La Cuarta logo.">
      </a>

      <nav>
        <ul>
          <li><a href="sobre_nosotros.html">Sobre Nostros</a></li>
          <li><a href="carta.html">Carta</a></li>
          <li><a href="reservas.html">Reservas</a></li>
          <li><a href="pedidos.html">Pedidos</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>

    </header>

    <!-- Page content -->
    <section class="main">
      <h1>TODO Main page content</h1>
      <p> Bienvenidos! </p>
    </section>

    <!-- Footer -->
    <footer>
      <h1>TODO Footer</h1>
      <a href="index.html">
        <img src="images/placeholder-image.png" alt="Restaurante La Cuarta logo.">
      </a>

      <ul>
        <li><a href="">Política de privacidad</a></li>
        <li><a href="">Política de cookies</a></li>
        <li><a href="">Aviso Legal</a></li>
      </ul>

      <section class="footer-contact">
        <h3>Restaurante La Cuarta</h3>
        <p>Pl. de Santiago, 9, Gáldar, Las Palmas</p>
        <p>630 13 23 25</p>

        <a href=""><img src="https://e7.pngegg.com/pngimages/191/478/png-clipart-social-media-facebook-emoji-icon-instagram-icon-instagram-logo-text-rectangle-thumbnail.png" width="60" height="60"></a>
        <a href="">Facebook</a>
        <a href="">TripAdvisor</a>
      </section>

    </footer>
  </body>
</html>

