<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>La Cuarta</title>

    <link href="images/logo_header.png" rel="icon">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Styles -->
    <link href="css/default.css" rel="stylesheet">


</head>


<body>

    <!-- Header -->
    <header id="header">

    </header>

    <!-- Page content -->
    <main class="mainPage">
        Bienvenidos
    </main>

    <!-- Footer -->
    <footer id="footer">

    </footer>


<script>
    $(function () {
        $('#header').load("./header.html");
        $('#footer').load("./footer.html");
    });
</script>

</body>

</html>
