<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>La Cuarta</title>

    <link rel="icon" href="images/placeholder-image.png">

    <!-- Styles -->
    <link rel="stylesheet" href="css/default.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>


<body>

    <header id="header">

    </header>
    <main id="container">
<!-- Page content -->
        <section class="bookContent">
            <article class="center">
                <div class="bookContainer2">
                </div>
            </article>
        </section>
        <section class="bookContent">
            <article class="container_buttoms">
                <button class="button2">
                    <div class="content-reservas">Continuar</div>
                </button>
                <button class="button3">
                    <div class="content-reservas">Retroceder</div>
                </button>
            </article>
        </section>

    </main>
    <!-- Footer -->
    <footer id="footer" >
    </footer>

    <script>
        $(function () {
            $('#header').load("./header.html");
            $('#footer').load("./footer.html");
        });
    </script>

</body>

</html>