<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>La Cuarta</title>

    <link rel="icon" href="images/placeholder-image.png">

    <!-- Styles -->
    <link rel="stylesheet" href="css/default.css">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/reservas.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <style>

    </style>
</head>


<body>
<!-- Header -->

<div id="container">
    <header id="header">

    </header>
    <!-- Page content -->
    <main class="bookContent">
        <section class="center">
            <article class="bookContainer1">
            </article>

        </section>

        <section class="center">
            <button class="button1 center">
                <div class="content">Continuar</div>
            </button>


        </section>

    </main>
    <!-- Footer -->
    <footer id="footer" >

    </footer>
</div>


    <script>
        $(function () {
            $('#header').load("./header.html");
            $('#footer').load("./footer.html");
        });
    </script>

</body>

</html>
