<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>La Cuarta</title>

    <link rel="icon" href="images/placeholder-image.png">

    <!-- Styles -->
    <link rel="stylesheet" href="css/default.css">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/reservas.css" rel="stylesheet">

    <style>

    </style>
</head>


<body>
<header>
    <fig>
        <a href="mainpage.html">
            <img class="logo" src="images/LOGO3364.jpg" alt="Restaurante La Cuarta logo.">
        </a>
    </fig>
    <nav class="menu">
        <a href="sobre_nosotros.html">Sobre Nosotros</a>
        <a href="carta.html">Carta</a>
        <a href="reservas1.html">Reservas</a>
        <a href="pedidos.html">Pedidos</a>
        <a href="contacto.html">Contacto</a>
    </nav>
</header>

<main>
    <!-- Page content -->
    <div id="book_content">
        <div class="bookContainer1">
        </div>
        <div class="button1">
            <div class="content">Continuar</div>
        </div>
    </div>
</main>

<footer>
    <div class="row">
        <div class="col-4 center">
            <a href="mainpage.html">
                <img class="logo" alt="Restaurante La Cuarta logo." src="images/logo_footer.png">
            </a>
        </div>

        <div class="col-4 center">
            <nav class="menu">
                <a href="todo.pdf">Política de privacidad</a><br>
                <a href="todo.pdf">Política de cookies</a><br>
                <a href="todo.pdf">Aviso Legal</a>
            </nav>
        </div>

        <div class="col-4 center">
            <div class="infoContainer">
                <div class="name">
                    Restaurante La Cuarta
                </div>

                <div class="contact">
                    <p>Pl. de Santiago, 9, Gáldar, Las Palmas</p>
                    <p>630 13 23 25</p>
                </div>


                <div class="socialMedia">
                    <a href="">
                        <img alt="Instagram." src="images/instagram.png">
                    </a>
                    <a href="https://www.facebook.com/La-Cuarta-G%C3%A1ldar-919397254765070/">
                        <img alt="Facebook." src="images/facebook.png">
                    </a>
                    <a href="https://www.tripadvisor.es/Restaurant_Review-g1064347-d10120688-Reviews-Tasca_Restaurante_La_Cuarta-Galdar_Gran_Canaria_Canary_Islands.html">
                        <img alt="TripAdvisor." src="images/tripadvisor.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 center">
            <div class="copyright">
                <img style="transform: translateY(5px);" alt="Copyright." src="images/copyright.png">
                Restaurante La Cuarta. Todos los derechos reservados.
            </div>
        </div>
    </div>
</footer>
</body>

</html>