<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>La Cuarta</title>

    <link rel="icon" href="images/logo_header.png">

    <!-- Styles -->
    <link rel="stylesheet" href="css/default.css">

    <style>

    </style>
</head>


<body>
<div class="container">
    <!-- Header -->
    <header>
        <div id="header-logo">
            <a href="index.html">
                <img src="images/logo_header.png" alt="Restaurante La Cuarta logo.">
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="sobre_nosotros.html"><strong>Sobre Nostros</strong></a></li>
                <li><a href="carta.html">Carta</a></li>
                <li><a href="reservas.html">Reservas</a></li>
                <li><a href="pedidos.html">Pedidos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <!-- Page content -->
    <main>
        <div class="image-slideshow">
            <img src="images/background.jpg" alt="Restaurante La Cuarta image.">
        </div>

        <div class="content">
            <div class="text-left">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate massa posuere, ornare ipsum ut, cursus nulla. Proin egestas, nisl vel lacinia iaculis, ligula libero commodo lacus, vitae vehicula nunc felis in quam. Mauris purus lorem, scelerisque ut lorem nec, tristique ornare est. Duis lacinia laoreet odio at faucibus. Nulla facilisi. Nunc tempor diam augue, ac consectetur nunc ullamcorper sit amet. Nulla facilisi. Phasellus pretium ultrices urna id consequat. Etiam ac velit quis massa faucibus fringilla ac quis turpis. Proin in tristique enim, in vestibulum neque. Maecenas enim mauris, interdum quis lectus in, molestie molestie massa. Pellentesque vestibulum magna in dui ullamcorper euismod. Pellentesque et nisi ac lorem aliquam condimentum. Aliquam erat volutpat. Duis erat urna, pharetra ullamcorper urna ut, gravida maximus dolor.
                </p>
            </div>

            <div class="image-right">
                <img src="images/placeholder-image.png" alt="Restaurante La Cuarta nosotros.">
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div id="footer-left">
            <a href="index.html">
                <img src="images/logo_footer.png" alt="Restaurante La Cuarta logo.">
            </a>
        </div>

        <div id="footer-mid">
            <ul>
                <li><a href="">Política de privacidad</a></li>
                <li><a href="">Política de cookies</a></li>
                <li><a href="">Aviso Legal</a></li>
            </ul>

            <div id="copyright">
                <img src="images/copyright.png" alt="Copyright.">
                <p>Restaurante La Cuarta. Todos los derechos reservados.</p>
            </div>
        </div>

        <div id="footer-right">
            <h3>Restaurante La Cuarta</h3>
            <p>Pl. de Santiago, 9, Gáldar, Las Palmas</p>
            <p>630 13 23 25</p>

            <a href="">
                <img src="images/instagram.png" alt="Instagram.">
            </a>
            <a href="https://www.facebook.com/La-Cuarta-G%C3%A1ldar-919397254765070/">
                <img src="images/facebook.png" alt="Facebook.">
            </a>
            <a href="https://www.tripadvisor.es/Restaurant_Review-g1064347-d10120688-Reviews-Tasca_Restaurante_La_Cuarta-Galdar_Gran_Canaria_Canary_Islands.html">
                <img src="images/tripadvisor.png" alt="TripAdvisor.">
            </a>
        </div>

    </footer>
</div>
</body>
</html>

