
<ion-content class="">

   <ion-card>

      <ion-title>Perfil</ion-title>

      <ion-card-header>
         <ion-grid>
            <ion-row>
               <ion-col size="2"></ion-col>
               <ion-col size="8">
                  <div *ngIf="user.imageUrl!" class="rounded">
                     <img [src]="user.imageUrl" alt="User image.">
                  </div>
                  <div class="name_glob">
                     {{user.fullName}}
                  </div>
               </ion-col>
              <ion-col size="2"></ion-col> 
            </ion-row>
         </ion-grid>
      </ion-card-header>

      <ion-card-content>
         <form ngNativeValidate #form="ngForm" (ngSubmit)="save(form)">

            <div class="divItem">
               <ion-item>
                 <ion-label position="floating">Nombre</ion-label>
                 <ion-input name="name" [(ngModel)]="user.fullName" required></ion-input>
               </ion-item>

               <ion-item>
                 <ion-label position="floating">Correo electrónico</ion-label>
                 <ion-input name="email" [(ngModel)]="user.email" value="Disabled" disabled></ion-input>
               </ion-item>

               <ion-item>
                 <ion-label position="floating">Número de teléfono</ion-label>
                 <ion-input name="type"
                            [(ngModel)]="user.phoneNumber"></ion-input>
               </ion-item>

               <ion-item>
                 <ion-label position="floating">Foto de perfil</ion-label>
                 <span *ngIf="user.imageUrl!">
                   <img class="image_" [src]="user.imageUrl" alt="User image.">
                 </span>
               </ion-item>

               <ion-item>
                  <app-upload-form (newUploadEvent)="addImageToUser($event)"></app-upload-form>
               </ion-item>

            </div>

             <div class="mt-4">
               <ion-button type="submit" class="submit-btn" expand="block" fill="outline">
                 Salvar 
               </ion-button>

               <!--
               <ion-button type="reset" class="btn btn-danger float-end"
                       [routerLink]="['/']">
                 Home
               </ion-button>
               -->
             </div>

         </form>

      </ion-card-content>

   </ion-card>

</ion-content>


