<ion-header>

  <ion-toolbar>
    <ion-title>Welcome user -- {{user.email}}</ion-title>
  </ion-toolbar>

</ion-header>


<form ngNativeValidate #form="ngForm" (ngSubmit)="save(form)">
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input class="form-control" name="name" [(ngModel)]="user.fullName" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Phone Number</ion-label>
    <ion-input class="form-control" name="type"
               [(ngModel)]="user.phoneNumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Profile Pic</ion-label>
    <span *ngIf="user.imageUrl!">
      <img style="max-height:450px; max-width:450px; overflow: hidden" [src]="user.imageUrl" alt="User image.">
    </span>

    <br>

    <app-upload-form (newUploadEvent)="addImageToUser($event)"></app-upload-form>
  </ion-item>

  <div class="mt-5">
    <ion-button type="submit">
      Save
    </ion-button>

    <!--
    <ion-button type="reset" class="btn btn-danger float-end"
            [routerLink]="['/']">
      Home
    </ion-button>
    -->
  </div>

</form>


