
ion-list{
  background-color: #ffffff00;
}

ion-item{
  --background: rgb(255, 255, 255, 0.7)
}

ion-content{
  font-family: Roboto;
  color: black;
}
  .background_subheader{
    padding: 2% 4% 2% 4%;
    background: rgb(255, 255, 255, 0.8);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: -2%;
  }

  .img_subheader{
    width: 150px;
    height: auto;
    margin-left: 30%;
  }

  .subheader_text_carta {
    font-size: calc(18px + 0.4vw);
    text-decoration: none;
  }

  .category_button {
    background: none;
    color: black;
    font-weight: bold;
    font-size: calc(18px + 0.4vw);
  }
  

  .title_category{
    width: fit-content;
    height: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background: #67523A;
    border-radius: 10px;

  }

  .text_title_category {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: calc(30px + 0.3vw);
  }

  .margin{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
  }

  .container_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text_title_plato_carta{
    font-family: Times New Roman;
    text-transform: uppercase;
    margin-bottom: 2%;
    font-size: calc(18px + 0.3vw);
    font-weight: bold;
    color:#67523A;
  }

  .size_image{
    width: 120px;
    height: 120px;
  }

  ion-item::part(native) {
    flex-direction: column;
  }
  
  .background_money{
    color: white;
    font-size: calc(16px + 0.2vw);
    background: #67523A;
    border-radius: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
}