<ion-content>
    <ion-list>
        <ion-list-header class="background_subheader">
          <div class="subheader_text_carta">
            <div>
              <button class="category_button" (click)="changeCategory(undefined)">Todo</button>
            </div>
            <div *ngFor="let cat of categories">
              <button class="category_button" (click)="changeCategory(cat)">{{cat}}</button>
            </div>
          </div>
          <img class="img_subheader" src="../../assets/images/logo_carta.png" alt=""> 
        </ion-list-header>

        <div style="width: 100%; display: flex; justify-content: center;">
          <div class="title_category">
            <span>
              <div *ngIf="!!this.selectedCategory; else defaultSubHeader">
                <ion-title class="text_title_category">{{selectedCategory}}</ion-title>
              </div>
              <ng-template #defaultSubHeader>
                <ion-title class="text_title_category">Todo</ion-title>
              </ng-template>
            </span>
          </div>
        </div>

        <ion-item class="margin container_product" *ngFor="let product of getProducts()"
                  [routerLink]="['/product-details', product.id]">
            
            <ion-label class="text_title_plato_carta">{{ product.name }}</ion-label>

            <img class="size_image" [src]="product.url" alt="Product image.">
          
            <ion-label class="background_money">{{ product.price | currency:"EUR":"symbol":"0.2-2" }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>

