<footer id="footer">
  <div class="container p-0 p-md-4 text-center text-lg-start">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-md-0 order-2 order-md-0 py-1">
        <figure class="logo p-0">
          <a href="index.html">
            <img alt="Restaurante La Cuarta logo." src="./assets/images/logo_footer_white.png">
          </a>
        </figure>
      </div>

      <div class="col-lg-4 col-md-6 mb-0 mb-md-0 pt-4 order-0 order-md-1">
        <nav class="d-flex justify-content-center d-md-block">
          <a href="todo.pdf" class="px-2">Política de privacidad</a><br>
          <a href="todo.pdf" class="px-2 d-none d-md-inline">Política de cookies</a><br>
          <a href="todo.pdf" class="px-2">Aviso Legal</a>
        </nav>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 order-md-2">
        <div class="d-none d-md-block">    <!-- Remove at sm-size -->
          <h4 class="mb-0">
            Restaurante La Cuarta
          </h4>

          <p>Pl. de Santiago, 9, Gáldar, Las Palmas</p>
          <p>630 13 23 25</p>
        </div>

        <div class="socialMedia order-1">
          <a href="" class="me-2">
            <img alt="Instagram." src="./assets/images/instagram.png">
          </a>
          <a href="https://www.facebook.com/La-Cuarta-G%C3%A1ldar-919397254765070/"
             class="me-2">
            <img alt="Facebook." src="./assets/images/facebook.png">
          </a>
          <a href="https://www.tripadvisor.es/Restaurant_Review-g1064347-d10120688-Reviews-Tasca_Restaurante_La_Cuarta-Galdar_Gran_Canaria_Canary_Islands.html"
             class="d-none d-md-inline">
            <img alt="TripAdvisor." src="./assets/images/tripadvisor.png">
          </a>
          <a href="https://www.tripadvisor.es/Restaurant_Review-g1064347-d10120688-Reviews-Tasca_Restaurante_La_Cuarta-Galdar_Gran_Canaria_Canary_Islands.html"
             class="d-md-none">
            <img alt="TripAdvisor." src="./assets/images/tripadvisor_white.png">
          </a>

        </div>
      </div>
    </div>


    <!-- Copyright -->
    <div class="text-center p-3 ">
      <small>© Restaurante La Cuarta. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>

