/* You can add global styles to this file, and also import other style files */
/* Space between header and footer for content */
#header, #footer, #content { left: 0; width: 100%; }
#header {top: 0px;}
#content { top: 70px; }
#footer { bottom:0; }

/* Default style across all pages */
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  font-size: calc(12px + 1vw);
}

legend {
  font-size: calc(14px + 0.6vw);
}
h1 {
  font-size: calc(12px + 5.9vw);
}
h2 {
  font-size: calc(10px + 2.0vw);
}

h3 {
  font-size: calc(10px + 2.0vw);
}

h4 {
  font-size: calc(10px + 1.5vw);
}

h5 {
  font-size: calc(10px + 1.2vw);
}


body {
  background: url('./assets/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sobreNosotros .carousel-indicators button {
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 100% !important;
}

.reservas {
  color: black;
  font-size: calc(14px + 0.35vw);
  font-max-size: 18px;
  line-height: 20px;
}

/* Remove number tickers */
.reservas input[type=number]::-webkit-inner-spin-button,
.reservas input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.reservas form .formTable {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  width: 50vw;
  height: auto;
}
.reservas form .button {
  font-style: normal;
  color: #FFFFFF;
  padding: 1rem 2rem;
  font-size: calc(14px + 0.4vw);

  background: #67523A;
  border: none;
  border-radius: 6px;
}



.reservas form .formTable .counter {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FFFFFF;

  width: 180px;
  height: 40px;

  align-items: center;
  vertical-align: middle;
  display: inline-flex;
}

.reservas form .formTable .counter input {
  margin: 0;
  width: 90px;
  height: 38px    ;
}

.reservas form .formTable .counter input[type="button"] {
  background-color: transparent;
  border-style: none;
  font-size: 30px;
}

.reservas form .formTable .counter input[type="button"]:hover {
  background-color: gainsboro;
}




.reservas form .formTable .timeField {
  width: 9rem;
  height: 50px;
  border-radius: 4px;
  color: black;
  background-color: #FFFFFF;
  align-content: center;
  font-size: calc(14px + 0.4vw);
}

.reservas2 form .formTable .timeField {
  width: 6rem;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.reservas form .formTable .selectedField {
  color: #FFFFFF;
  background-color: #AAAAAA;
}

.reservas form .formTable .timeField:hover {
  cursor: pointer;
}

.reservas form .formTable .hourRow1 {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.reservas form .formTable .hourRow2 {
  display: flex;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 25%;
}

.reservas form .formTable .hourField {
  padding: 1rem 1rem;
  border: 1px solid #000000;
  border-radius: 4px;
  color: black;
  background-color: #FFFFFF;
  align-content: center;
  font-size: calc(14px + 0.3vw);
}

.reservas form .formTable .hourField:hover {
  cursor: pointer;
}

.reservas form .formTable .hourFieldSelected {
  color: white;
  background-color: #AAAAAA;
}

.reservas form .formTable #datepicker {
  color: black;
  border-style: dashed;
}

.formTable .summaryTable {
  height: auto;
  width: 50vm;

  border: 1px solid #000000;
  box-sizing: border-box;
}

.px-6 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.px-7 {
  padding-right: 9rem !important;
  padding-left: 9rem !important;
}

.checkFont {
  font-family: 'Montserrat';
  font-style: normal;
  color: #737373;
  font-size: calc(10px + 0.5vw);
  font-max-size: 14px;
}

.fuentePrueba {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 0.2vw);
  line-height: 16px;

  color: #000000;
}

.imgReserva {
  width: calc(30px + 0.2vw);
}

@media (max-width: 768px) {
  .reservas {
  }

  .reservas form {
  }

  .reservas form  .formTable {
    width: 100% !important;
  }

  .reservas form .button {
    background: black;
    padding: 0.8rem 0.8rem;
  }

  .reservas form .formTable .timeField {
    color: #424242;
  }

  .reservas form .formTable .selectedField {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.65);;
  }

  .px-6 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .reservas form .formTable .hourRow1 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .reservas form .formTable .hourRow2 {
    padding-left: 16%;
    padding-right: 16%;
  }

  .reservas form .formTable .hourField {
    padding: 0.6rem 0.6rem;
  }

  .reservas form .formTable .hourFieldSelected {
    padding: 0.6rem 0.6rem;
  }

}

@media (max-width: 992px) {
  .reservas{
    color: black;
  }

  .reservas2 form .formTable .timeField {
    border: 1px solid #000000;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .reservas form .formTable {
    width: 70vw;
  }

  .reservas form .formTable .hourRow1 {
    padding-left: 10%;
    padding-right: 10%;
  }
  .reservas form .formTable .hourRow2 {
    padding-left: 20%;
    padding-right: 20%;
  }

  .reservas form .formTable .hourField {
    padding: 0.8rem 0.8rem;
  }

  .reservas form .formTable .hourFieldSelected {
    padding: 0.8rem 0.8rem;
  }
}
ngb-datepicker{
  background-color: #FFFFFF;
}

