ion-list-header{
    --background: rgb(255,255,255,0.8);
}

ion-list{
    background-color: #ffffff00;
  }
  
  ion-item{
    --background: #ffffff00
  }
  
  ion-content{
    font-family: Roboto;
    color: black;
  }

.addButton{
    --background: green;
}

.removeButton{
    --background: red;
    margin-bottom: 4%;
}
  
    .text_subheader {
      margin-top: -2%;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Times New Roman', Times, serif;
      color: #67523A;
      font-size: calc(30px + 0.3vw);
    }
  
    .margin{
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 5%;
      margin-right: 5%;
      border-radius: 10px;
    }
  
    .container_product{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgb(255, 255, 255, 0.7)
    }
  
    .text_title_plato_carta{
      font-family: Times New Roman;
      text-transform: uppercase;
      margin-bottom: 2%;
      font-size: calc(18px + 0.3vw);
      font-weight: bold;
      color:#67523A;
    }
  
    .size_image{
      width: 120px;
      height: 120px;
      margin-top: 5%;
    }
  
    ion-item::part(native) {
      flex-direction: column;
    }
    