<ion-content>
  <ion-list>
    <ion-list-header class="text_subheader">
      <ion-label class="ion-text-center">favoritos</ion-label> 
    </ion-list-header>
  
    <div class="margin container_product" *ngFor="let favouriteItem of this.sqlCrud.favourites;">
      <ion-item *ngFor="let product of [this.productRepo.getProduct(favouriteItem.product_id)];"
      [routerLink]="['/product-details', product.id]">
  
        <img class="size_image" [src]="product.url" alt="Product image.">
    
        <ion-label class="text_title_plato_carta">{{ product.name }}</ion-label>
    
        <p>{{ product.category }}</p>
      </ion-item>
      <ion-button class="removeButton" (click)="deleteFromFavourites(favouriteItem.favourite_id)">
        Eliminar de favoritos
      </ion-button>
    </div>
  </ion-list>  
</ion-content>
