.carta{
    font-family: Roboto;
    color: black;

}

.subheader_carta{
    background: #E7E7E7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subheader_title_carta{
    padding-top: 1%;
    text-align: center;
    /*font-size: 36px;*/
    font-size: calc(10px + 2vw);
    font-weight: bold;
}



.subheader_text_carta {
    /*font-size: 26px;*/
    font-size: calc(3px + 2vw);
    font-weight: bold;
    margin-left: 7%;
    margin-bottom: 2%;
}

.subheader_photo_carta{
    text-align: right;
    margin-right: 7%;
}

.container_subheader_carta{
    display: flex;
    justify-content: space-between;

}

.background_plato_carta{
    background: #E7E7E7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    margin-right: 5%;
    margin-left: 5%;
}

.align_opcion_plato_carta{
    text-align: center;
    font-size: 36px;
    padding-top: 2%;
}

.align_money_plato_carta{
    margin-left: 20%;
    padding-bottom: 1%;
    font-size: 26px;
}

.text_plato_carta{
    margin-left: 5%;
    margin-bottom: 2%;
}

.align_photo_plato_carta{
    margin-top: 3%;
    margin-right: -30%;
}

.body_bebidas{
    padding-bottom: 8%;
}

.align_opcion_plato_bebidas{
    text-align: center;
    padding-top: 2%;
}

.background_text_bebidas{
    background: #E7E7E7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 1%;
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 20%;
}

.margin_text_bebidas{
    margin-left: 10%;
}

.body_title_bebidas{

}

.nombre_bebidas{
    /*margin-left: 2%;*/
}

.money_bebidas{

}

.origen_text_bebidas{
    margin-left: 7%;
    padding-top: 1%;
    font-size: 17px;
}
@media (max-width: 767px) {
    .body_plato_carta{
        padding-bottom: 25%;
    }

    .text_title_plato_carta{
        margin-bottom: 2%;
    }

    .size_photo_header{
        max-width: 50%;
        height: auto;
    }

    .text_opcion_plato_carta{
        color: white;
        font-size: calc(9px + 2.2vw);
        font-weight: bold;
        padding-bottom: 2%;
    }

    .descripcion_plato_carta{
        margin-top: 5%;
        font-size: calc(2px + 2vw);
    }

    .alergenos_plato_carta{
        margin-top: 20%;
        font-size: calc(2px + 2vw);
    }
    .size_photo_comida{
        max-width: 70%;
        height: auto;
    }

    .background_money{
        color: white;
        background: #67523A;
        border-radius: 50px;
        max-width:20%;
        margin:0 auto 3% auto;
        text-align: center;
    }

    .text_money_plato_carta{
        font-size: calc(2px + 2vw);
    }


}
@media (min-width: 768px) and (max-width: 991px){


    .text_title_plato_carta{
        font-size: calc(10px + 2.1vw);
        margin-bottom: 2%;
        font-weight: bold;
    }

    .text_opcion_plato_carta{
        color: white;
        font-size: calc(11px + 2.2vw);
        font-weight: bold;
        padding-bottom: 2%;
    }

    .size_photo_header{
        max-width: 60%;
        height: auto;
    }

    .body_plato_carta{
        padding-bottom: 25%;
    }

    .descripcion_plato_carta{
        margin-top: 5%;
        font-size: calc(4px + 2vw);
    }

    .alergenos_plato_carta{
        margin-top: 20%;
        font-size: calc(4px + 2vw);
    }

    .size_photo_comida{
        max-width: 70%;
        height: auto;
    }

    .background_money{
        color: white;
        background: #67523A;
        border-radius: 50px;
        max-width:20%;
        margin:0 auto 3% auto;
        text-align: center;
    }

    .text_money_plato_carta{
        font-size: calc(2px + 2vw);
    }
}

@media (min-width: 992px) {
    .text_title_plato_carta{
        margin-right: 30%;
        padding-top: 2%;
        font-size: calc(10px + 2vw);
        font-weight: bold;
    }

    .descripcion_plato_carta{
        margin-top: 5%;
        font-size: calc(2px + 2vw);
    }

    .body_plato_carta{
        padding-bottom: 25%;
    }

    .text_opcion_plato_carta{
        color: white;
        font-size: calc(11px + 2vw);
        font-weight: bold;
        padding-bottom: 2%;
    }

    .alergenos_plato_carta{
        margin-top: 20%;
        font-size: calc(2px + 2vw);
    }

    .size_photo_header{
        max-width: 70%;
        height: auto;
    }

    .size_photo_comida{
        max-width: 70%;
        height: auto;
    }

    .background_money{
        color: white;
        background: #67523A;
        border-radius: 50px;
        max-width:30%;
        margin:2% auto 3% auto;
        text-align: center;
    }

    .text_money_plato_carta{
        font-size: calc(5px + 2vw);
    }


}
