.margin_body_top{
    margin-top: 4%;
}

.margin_body_bottom{
    margin-bottom: 5%;
}



.container_contact_txt{
    position: relative;
    display: inline-block;

}

.text_contact{
    text-align: center;
    color: white;
    font-size: calc(10vw);
    font-family: 'Roboto';
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.size_terra-n{
    margin-top: -4%;
    width:100%;
    height:auto;
}



@media (max-width: 991px) {
    body {
        background: #B09F92;
    }
    .center_ubi {
        margin-left: 25%;

    }

    .pru1 {
        margin-top: -10%;
        margin-right: 10%;
    }

    .center_telephone {
        margin-left: 30%;

    }

    .margin_body_top_mv {
        margin-top: 5%;
    }

    .center_txt_hor {
        margin-left: 87%;
    }

    .center_txt_hours {
        margin-left: 30%;
    }
}
@media (min-width: 992px) {
    .size_img_ubi{
        height: 100%;
        width: 95%;
    }

    .margin_telephone{
        margin-left: 15%;
        margin-top: 5%;
    }

    .margin_number{
        margin-top: 7%;
        margin-left: -8%;
    }
    .margin_dir{
        margin-top: 7%;
        margin-left: -25%;
    }
    .margin_ubi{
        margin-top: 5%;
    }
}