/* Space between header and footer for content */
#header, #footer, #content { left: 0; width: 100%; }
#header {top: 0px;}
#content { top: 70px; min-height: 75vh; padding-bottom: 210px; }
#footer { bottom:0; }

/* Default text style across all pages */
body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #FFFFFF;
}
@media (min-width: 679px) {
    body {
        font-size: 22px;
    }
}

@media (max-width: 996px) {
    body {
        font-size: 16px;
    }
}



body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* _________________ HEADER _________________ */
header {
    background: rgba(121, 91, 57, 0.5);
}

#header .navbar {
}


#header .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

#header .nav-item {
    margin-left: 0.5rem;
}

#header .navbar-dark .navbar-toggler {
        border: none;
}

#header .navbar-toggler:focus {
    box-shadow: none;
}

@media (min-width: 992px) {
    #header .navbar-brand {
        padding-left: 22.5%;
        padding-top: 5px;
    }
}

/* _________________ FOOTER _________________ */

footer {
    background: rgba(121, 91, 57, 0.5);
}

#footer a {
    text-decoration: None;
    color: #FFFFFF;
}
#footer a:hover{
    color: black;
}

#footer .name {
    font-size: 1.5rem;
}

#footer .logo img {

}

/* _________________ Main Page _________________ */
.mainPage {
    min-height: 50vh;
}

.mainPage h1 {
    font-size: 5rem;
}

/* _________________ Sobre Nosotros _________________ */
#carouselSobreNosotros .carousel-inner > .carousel-item > img {
    height: 35vh;
}

#carouselSobreNosotros .carousel-indicators button {
    width: 0.5rem !important;
    height: 0.5rem !important;
    border-radius: 100%;
}




