/* Space between header and footer for content */
#header, #footer, #content { left: 0; width: 100%; }
#header {top: 0px;}
#content { top: 70px; min-height: 100vh; padding-bottom: 210px; }
#footer { bottom:0; }

/* Default text style across all pages */
body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #FFFFFF;
}


body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* _________________ HEADER _________________ */
header {
    background: rgba(121, 91, 57, 0.5);
}

.navbar {
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.nav-item {
    margin-left: 0.5rem;
}

.navbar-dark .navbar-toggler {
        border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand {
    padding-left: 22.5%;
    padding-top: 5px;
}

/* _________________ FOOTER _________________ */

footer {
    background: rgba(121, 91, 57, 0.5);
}

footer a {
    text-decoration: None;
    color: #FFFFFF;
}
footer a:hover{
    color: black;
}

footer .name {
    font-size: 24px;
    line-height: 28px;
}


